.task-details {
    position: relative;
    width: 50em;
    background-color: $clr-bg3-light;
    border-radius: 11px;
    margin-block-start: 1em;
    padding-block-end: 2em;

    .btn-save-task {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        top: 10px;

        padding: 0.3em;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;

        & svg {
            width: 1.5em;
            height: 1.5em;
        }

        &:hover {
            background-color: $clr-btn-1;
            opacity: 0.6;
        }
    }

    .archive-banner {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1.3em;
        margin-inline-start: 0.1em;

        background-color: $clr-bg3-archive;
        background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
        background-size: 15px 15px;
    }

    .cover {
        display: grid;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;

        justify-content: end;
        align-items: end;
        padding: 0.7em;

        .cover-options {
            display: flex;
            align-items: center;
            padding: 0.3em 0.8em;

            gap: 0.5em;
            opacity: 0.7;
            cursor: pointer;

            & svg {
                height: 1.6em;
                margin-block-start: 0.1em;
                padding: 0.1em;
            }

            &:hover {
                background-color: rgba(245, 245, 245, 0.721);
            }

            &.active {
                color: $clr6;
                font-family: 'roboto-medium';
                background-color: #7E7F7A;
            }
        }
    }

    .task-header {
        display: flex;
        align-items: start;
        padding: 0 1em 0;
        gap: 0.5em;
        margin-block-start: 1.5em;
        margin-inline-start: 0.3em;

        & img {
            margin-block-start: 0.2em;
        }

        .task-header-left-side {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    input[type="text"] {
        box-sizing: border-box;
        font-family: 'roboto-regular';
        transition: none;
    }

    input[type="text"]:hover {
        background-color: $clr-bg3-light;
    }

    input[type="text"]:focus {
        outline: 2px solid $clr-blue-border;
        outline-offset: -2px;
        // border: 2px solid $clr-blue-border;
        background-color: $clr-bg2-light;
    }

    input:not(input[type="checkbox"]) {
        padding: 0.8em;
        width: 100%;
        border: 1px solid gray;
        border-radius: 0.2em;
    }

    input[type="checkbox"] {
        padding: 0.8em;
        border: 1px solid gray;
        border-radius: 0.2em;
        width: 1em;
        transform: scale(1.2);
        transform-origin: center;
    }

    .textarea-input {
        border: 2px solid transparent;
        border-radius: 0.2em;
        font-family: inherit;

        width: 100%;

        overflow: hidden;
        resize: none;

        // line-height: 0.5;
    }

    textarea.task-title {
        width: 90%;
        // padding: 0.5em 0 0 0.4em;
        font-size: 1.2rem;
        font-family: 'roboto-medium';
        background-color: $clr-bg3-light;

        &:focus {
            outline: 2px solid $clr-blue-border;
            outline-offset: -2px;
            background-color: $clr-bg2-light;
        }
    }

    textarea.task-description {
        padding: 1em;
        border-radius: 0.2em;
    }
}

.task-main {
    @include for-mobile-layout {
        display: grid;
        grid-auto-flow: row;
    }

    @include for-narrow-layout {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    gap: 1em;
    color: $gray4;
    padding: 1em;

    .task-metadata {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5em;
        padding-inline-start: 3em;

        .labels-area {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-block-end: 1.3em;

            .label-list {
                position: relative;
                display: flex;
                gap: 0.3em;

                li.label {
                    padding: 0.3em 1em;
                    font-size: 0.9rem;
                    border-radius: 0.2em;
                    min-width: 3em;
                    height: 2.2em;
                    margin: 0;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }

        .due-date-area {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-block-end: 1.3em;

            .due-date-details {
                display: flex;
                align-items: center;
                gap: 0.5em;

                & span {
                    font-size: 0.9rem;
                }

                .format-date-and-status {
                    position: relative;
                    background-color: $clr-btn-1;
                    display: flex;
                    align-items: center;
                    padding: 0.25em 0.8em;
                    border-radius: 0.2em;
                }

                .due-date-status {
                    font-size: 0.8rem;
                    line-height: 1.25;
                    padding-inline-start: 0.3em;
                    padding-inline-end: 0.3em;
                    margin-inline-start: 0.5em;
                }
            }
        }

        .members-area {
            display: flex;
            flex-direction: column;
            margin-block-end: 1.3em;

            & .member-area-photo {
                height: 2em;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }

            .photo-member-list {
                display: flex;
                gap: 0.2em;

                & li.member {
                    position: relative;
                    margin: 0;
                }
            }
        }
    }

    .add-task-action {
        width: 2em;
        height: 2em;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        background-color: $clr-btn-1;

        &.circle {
            border-radius: 50%;
            padding: 0.5em;

            &:hover {
                background-color: darken($clr-btn-1, 5%);
            }
        }

        &.square {
            border-radius: 0.2em;
            padding: 0.5em;

            &:hover {
                background-color: darken($clr-btn-1, 5%);
            }
        }

        &.chevron {
            font-size: 0.8rem;
            padding: 0;
        }
    }

    .area-layout {
        display: grid;
        grid-template-columns: max-content 1fr;
        row-gap: 0.6em;
        column-gap: 1.1em;
        grid-template-areas:
            "icon title"
            "icon input";
        margin-block-end: 2em;
        margin-block-start: 1.3em;
        margin-inline-start: 0.3em;

        .icon-area {
            grid-area: icon;
        }

        .title-area {
            grid-area: title;
            margin-block-start: -0.15em;
        }

        .container-area {
            grid-area: input
        }

        .reach-editor-container {
            grid-area: input
        }

        .attachment-title {
            display: flex;
            justify-content: space-between;

            .add-attachment {
                position: relative;

                .btn-add-attachment {
                    font-size: 0.9rem;
                }
            }

        }
    }

    .list-of-attachments {
        display: grid;
        gap: 0.6em;
    }

    .list-of-checklists {
        display: grid;
        gap: 2.5em;
    }

    & .task-options {
        @include for-mobile-layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5em;
            margin-block-start: 30px;
        }

        @include for-narrow-layout {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        .btn-option {
            position: relative;
            display: flex;
            gap: 0.3em;
            align-items: center;
            width: 170px;
            font-size: 0.91rem;
            padding-inline-start: 0.6em;

            & span {
                margin-block-start: 0.05em;
            }

            & svg {
                height: 1.1em;
                margin: 0;
            }
        }

        .btn-option.active {
            background-color: #2C3E5D;
            color: $clr6;
        }

        .btn-option.hide {
            display: none;
        }

        .task-actions-area {
            margin-block-start: 1em;
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .archive-area {
            grid-column: 1/2;
            grid-row: 7/8;
        }

        .archive-actions {
            grid-row: 8/9;
        }

        .dynamic-modal {
            color: rgb(51, 51, 51);
            text-align: left;

            h3 {
                justify-self: start;
            }
        }
    }
}