.add-board {
    width: 100%;
    .mini-board-preview {
        // background-size: 100% 100%;
        background-position: center center;
        background-size: cover;
        width: 200px;
        height: 120px;
        margin: 0.05em auto;
        margin-bottom: 1em;
        border-radius: 3px;
        padding: 0.2em;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .photos-list {
        display: flex;
        justify-content: space-between;
        li > * {
            width: 64px;
            height: 40px;
        }
    }
    .colors-list {
        display: flex;
        justify-content: space-between;

        li > * {
            width: 40px;
            height: 32px;
        }
    }
    li > * {
        // background-size: contain;
        border-radius: 0.2em;
        height: 100%;
        width: 100%;
    }
}
.bg-btn {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(29, 29, 29); // dark overlay color
        opacity: 0; // hidden by default
        transition: opacity 0.15s ease; // smooth transition
        z-index: 1;
        border-radius: 0.1em;
    }

    &:hover::after,
    &.active::after {
        opacity: 0.32; // Adjust darkness level
    }
}
.add-board-form {
    & > * {
        margin: 0 0 0 0;
    }
    span,
    label {
        font-size: 12px;
        font-weight: 600;
        &::first-letter {
            text-transform: capitalize;
        }
        margin: 0 0 0.25em 0;
    }
    .photos-list {
        padding-block-end: 0.5em;
    }
    .colors-list {
        padding-block-end: 0.7em;
    }
    .title-input {
        /* border: none;

        width: 100%;
        height: 36px;
        padding: 8px 12px;
        border-radius: 3px;
        font-size: 14px;
        &:active,
        &:focus {
            outline: none;
            border: none;
        } */
        @include input();
        box-shadow: inset 0 0 0 1px #e34935;
        &.has-title:focus {
            box-shadow: inset 0 0 0 2px #388bff;
        }
        &.has-title {
            box-shadow: inset 0 0 0 1px #091e4224;
        }
    }
    .field-error {
        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    & > *:last-child {
        margin-block-start: 0.75em;
        margin-block-end: 0.5em;
        width: 100%;
    }
    button {
        &::first-letter {
            text-transform: capitalize;
        }
        margin: 0;
        font-size: 14px;
        height: 32px;
        background-color: $btnClr1;
        border-radius: 0.2em;
        transition: 0.1s;
        &:hover {
            background-color: darken($btnClr1, 10%);
        }
        &:disabled {
            background-color: $btnClrDisabled;
            color: $btnClrDisabletxt;
        }
    }
    .more-bg-btn {
        width: 40px;
        height: 32px;
        background-color: darken($btnClrDisabled, 4);
        color: $btnClrDisabletxt;
        position: relative;
        &:hover {
            background-color: darken($btnClrDisabled, 20);
        }
        &::after {
            content: '...';
            position: absolute;

            background-color: rgba(0, 0, 0, 0); // Optional: semi-transparent overlay
            color: #39465d;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            transform: translateY(-3px);
            font-size: em(18px);
            font-weight: 600;
        }
    }
}
