.app-header {
    display: flex;
    height: 3em;

    background-color: $clr6;
    // padding: rem(10px) 0;
    backdrop-filter: blur(6px);
    // background-color: hsl(5, 4.9%, 30.8%);
    nav {
        display: flex;
        width: 100%;
        align-items: center;
        // justify-content: center;
        gap: 0.2em;
        padding-inline: 2.5em 0.5em;
        font-size: 0.875em;
        font-weight: 500;
        // line-height: 2em;
        border-bottom: 1px solid rgba(23, 45, 79, 0.16);
        a {
            &::first-letter {
                text-transform: capitalize;
            }
            text-decoration: none;
            color: $headerClr;
            padding: 5px 0.75em;
            // height: 32px;

            border-radius: 3px;
            transition: background-color 0.2s;
        }
        a:hover {
            background-color: lightgray;
        }
        .active {
            // color: $clr1;p
        }

        .logo {
            font-size: 1.3em;
            font-weight: bold;
            // margin-inline-end: 2em;
            padding: 1.5px 0.6em;
        }

        .login-link {
            margin-inline-start: auto;
        }

        button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .btn-link {
            color: $clr2;
        }
    }
}
