.app-header {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    height: 3em;
    padding: 8px 0px;
    background-color: $clr6;

    // padding: rem(10px) 0;
    backdrop-filter: blur(6px);
    // background-color: hsl(5, 4.9%, 30.8%);
    border-bottom: 1px solid rgba(23, 45, 79, 0.16);
    nav {
        display: flex;
        // width: 100%;s
        align-items: center;
        // justify-content: center;
        // gap: 0.2em;
        padding-inline: 0.5em;
        font-size: 0.875em;
        font-weight: 500;
        // line-height: 2em;

        a {
            &::first-letter {
                text-transform: capitalize;
            }
            text-decoration: none;
            color: $headerClr;
            padding: 5px 0.75em;
            height: 32px;
            &.homepage-link {
                padding: rem(6px);
            }
            border-radius: 3px;
            transition: background-color 0.2s;
        }
        a:hover {
            background-color: lightgray;
        }
        .active {
            // color: $clr1;p
        }

        .logo {
            display: flex;
            align-items: center;
            font-size: 1.3em;
            // font-weight: bold;
            // margin-inline-end: 2em;
            font-family: 'CharlieDisplay-Bold';
            padding: 1.5px 0.6em;
            gap: 4px;
            img {
                filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
                width: 16px;
            }
        }

        .login-link {
            // margin-inline-start: auto;
        }
        button {
            // margin-inline: 1em 0;
            font-family: 'Segoe UI', 'roboto-regular';
            font-size: 14px;
            transition: 0.1s;
            background-color: inherit;
            color: $headerClr;
            &::first-letter {
                text-transform: capitalize;
            }
            &.btn1.create {
                color: white;
                background-color: $btnClr1;
                margin-inline-start: 1em;
                &:hover {
                    // background-color: darken($color: $btnClr1, $amount: 10);
                    background-color: $headerCreateBtnClr;
                }
            }
            &.header-btn {
                display: flex;
                align-items: center;
                &:hover {
                    background-color: $headerHoverBtnClr;
                }
                svg {
                    margin-inline-start: 5px;
                }
            }
        }
    }
    .header-search-wrapper {
        // display: flex;
        position: relative;
        margin-inline-end: 2em;
        transition: 0.3s;
        &.enlarged {
            transition: 0.3s;
            width: 40%;
        }
        .header-search {
            // background-color: lighten($color: inherit, $amount: 5);
            padding-inline-start: rem(32px);
            border-radius: rem(5px);
            &:focus {
                border: 1px solid $clr-blue-border;
            }
        }
        .search-icon {
            position: absolute;
            top: 10px;
            left: 8px;
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .btn-link {
            color: $clr2;
        }
    }
}
