.attachment-data {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 0.8em;

    .attachment-thumbnail {
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    }

    .attachment-main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .attachment-details {
            display: grid;
            align-items: center;
            width: 60%;

            .attach-time-and-cover {
                font-size: 0.8rem;

                & p:first-of-type:not(.dot) {
                    width: 100%;
                }

                .is-cover {
                    display: inline-flex;
                    align-items: center;
                    width: max-content;

                    .dot {
                        margin-inline-start: 0.5em;
                    }

                    & svg {
                        height: 1.1em;
                    }
                }
            }
        }

        .attachment-actions {
            display: flex;
            gap: 0.5em;

            .more-actions-area {
                position: relative;
            }

            .btn-attachment-action {
                padding: 0.4em 0.6em;

                & img {
                    height: 1.05em;
                }
            }

        }
    }
}