.board-header {
    position: relative;
    // min-height: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: rem(12px) rem(10px) rem(12px) rem(16px);
    backdrop-filter: blur(4px);
    background-color: var(--dynamic-board-header-background);

    font-size: rem(18px);
    // font-family: 'se','Roboto-Bold';
    color: var(--dynamic-board-header-color);
    z-index: 2;
    // justify-content: space-between;

    >* {
        display: flex;
        align-items: center;
    }

    .board-header-left-side {
        margin-inline-end: auto;
    }

    .board-header-right-side {
        @include for-mobile-layout {
            margin-inline-start: auto;
        }
    }

    .member-img {
        border-radius: 50%;
        width: 1em;
        padding: 0.1em;
        background-color: #ffffff;
        border: 0.1px solid rgb(177, 173, 173);

        margin-inline-start: -4px;
    }

    .title-wrapper {
        // position: relative;
        display: inline-block;
        width: 100%;

        &>* {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.125em;
            line-height: 32px;
            height: 32px;
        }

        .title-input {
            position: absolute;
            top: 9px;
            left: 16px;
            // width: 50px;
            font-weight: 700;
            border: 1px solid #ccc; // Show a border for the input
            outline: none;
            border-radius: 4px;
            padding-inline-start: 8px;

            outline: 3px solid $btnClr1;
            // transition: all 0.2s ease;
        }

        .title-text {
            letter-spacing: 1px;
            font-size: 18px;
            cursor: pointer;
            margin: 0;
            width: 100%;
            // width: fit-content;
            padding: 0 0.4em;
            border-radius: 4px;
            transition: 0.1s;

            &:hover {
                background-color: var(--dynamic-board-header-hover);
            }

            // transition: all 0.2s ease; // Smooth transition
        }
    }

    .text-measurer {
        position: absolute;
        visibility: hidden;
        letter-spacing: 1.07px;
        top: 40px;
        left: 25px;
        white-space: pre;
        font-size: inherit;
        font-weight: bold;
        font-family: inherit;
    }

    .header-btn {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dynamic-board-header-color);

        &:hover {
            background-color: var(--dynamic-board-header-hover);
        }

        &.filters {
            position: relative;

            span {
                // height: 16px;

                &:first-child {
                    margin-inline-end: 8px;
                }

                // &:last-child {
                //     // height: 20px;
                // }
            }

            width: inherit;
            padding: 6px;
            font-weight: 600;
            // margin-inline-end: 1em;
        }

        &.ai {
            display: flex;
            align-items: center;
            gap: 0.5em;
            position: relative;
            font-family: 'roboto-medium';
            background-color: rgba(232, 232, 232, 0.714);
            color: $gray7;
            // background-image: linear-gradient(to right bottom, #5400FF, #3D32FE, #2748FA, #1957F3, #1E63EB, #0072EA, #007FE7, #098AE1, #209ADF, #45A9DA, #69B6D5, #8BC2D2);
            // color: rgb(250, 250, 250);

            :first-child {
                transition: 1s;
            }

            &:hover {
                opacity: 0.8;

                :first-child {
                    rotate: 180deg;
                }
            }

            // span {
            //     // height: 16px;

            //     &:first-child {
            //         // margin-inline-end: 8px;
            //     }

            //     &:last-child {
            //         // height: 20px;
            //     }
            // }

            width: inherit;
            padding: 6px;
            padding-right: 0.65em;
            padding-left: 0.65em;

            font-weight: 600;
            margin-inline-end: 1em;
        }

        &.share {
            position: relative;
            margin-inline-start: 8px;

            span {
                height: 16px;

                &:first-child {
                    margin-inline-end: 8px;
                }

                &:last-child {
                    height: 20px;
                }
            }

            width: inherit;
            padding: 6px;
            font-weight: 600;
            margin-inline-end: 1em;
        }
    }

    .divider {
        display: inherit;
        height: 16px;
        margin: 0 1em 0 0.5em;
        border-left: 1px solid rgba(255, 255, 255, 0.16);
    }

    .board-members {
        // margin-inline-end: 0.2em;
        display: flex;

        .member-img {
            width: 1.8em;
            height: 1.8em;
            border: none;
            padding: 0;
        }
    }

    &>button.star {
        color: var(--dynamic-star-color);
        // margin-inline-end: auto;
    }

    @include for-mobile-layout {
        // .title-wrapper {
        //     max-width: 65%;
        //     overflow: hidden;
        //     // overflow-y: hidden;
        // }

        .divider {
            display: none;
        }

        .header-btn {
            span:nth-child(2) {
                display: none;
            }

            // &.share.btn2 {
            //     display: none;
            // }

            &.ai.btn2 {
                display: none;
            }

            &.menu.btn2 {
                rotate: 90deg;
            }

            &.filters.btn2 {
                margin-inline-end: 0;

                span:first-child {
                    width: 20px;
                    // height: 20px;
                    // border: 1px solid white;
                    border-color: var(--dynamic-board-header-color);
                    // border-radius: 50%;
                    margin: 0;

                    svg {
                        transform: translateY(2px);
                    }
                }
            }
        }

        .board-members,
        .filter-btn-txt {
            display: none;
        }
    }

    /*   @include for-mobile-layout {
        .title-wrapper {
            max-width: 65%;
            overflow: hidden;
            // overflow-y: hidden;
        }

        .header-btn {
            span:nth-child(2) {
                display: none;
            }

            &.filters.btn2 {
                margin-inline-end: 0;
            }

            &.share {
                display: none;
            }
        }

        .board-members {
            display: none;
        }
    } */
}