.board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5em;

    li {
        /*  display: grid;
        grid-template-columns: max-content auto; */
        // padding: 0.5em;
        // background-color: $clr2;

        color: $clr6;
        .board-wrapper {
            border: 1px solid black;
            position: relative;
            border-radius: 0.5em;
            height: 4em;
        }

        &:hover .board-actions {
            inset: 0;
            opacity: 0.3;
        }
    }
}
