.board-filter {
    color: rgb(68, 84, 111);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    div {
        font-size: 12px;
        font-weight: 600;
        margin-block-end: rem(8px);
        &:first-child {
            margin-block-start: rem(16px);
        }
    }
}
