.board-lists {
    display: flex;
    flex-direction: column;
    // gap: 1em;
    h2 {
        ::first-letter {
            text-transform: capitalize;
        }
        display: flex;
        gap: 0.5em;
        margin-bottom: 0.75em;
        font-size: em(16px);
    }
    ul {
        margin-bottom: 3.625em;
    }
}
.board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
    gap: 1em;

    li {
        max-width: 214px;
        /*  display: grid;
        grid-template-columns: max-content auto; */
        // padding: 0.5em;
        // background-color: $clr2;

        color: $clr6;
        .board-wrapper {
            // border: 1px solid black;
            position: relative;
            border-radius: 0.15em;
            height: 96px;
        }
        &:hover .board-actions {
            opacity: 1;
            background-color: rgba(67, 67, 67, 0.162);
        }
    }
}
