.canvas-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    height: 70%;
    width: 50vw;
    max-width: 600px;
}

canvas {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.save-drawing-btn {
    align-self: flex-end;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    width: 7em;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}