.reach-editor-container {
    outline: 2px solid blue;
    border-radius: 0.2em;
    background-color: $clr-bg2-light;

    input[data-formula],
    input[data-link],
    input[data-video] {
        display: none;
    }
}

.text-editor-buttons {
    display: flex;
    gap: 0.5em;
    margin-block-start: 1em;
}

.ql-toolbar {
    background-color: $clr-bg2-light;
}

.output-container {
    background-color: $clr-btn-1;
    padding: 0.5em;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.output-container-and-recording-btn {
    position: relative;

    .btn-recording {
        position: absolute;
        // top: 0px;
        // right: 5px;
        display: flex;
        align-items: center;

        padding: 0.2em;
        width: 1.8em;
        height: 1.8em;
        border-radius: 50%;

        cursor: pointer;

        & svg {
            width: 100%;
        }
    }
}

.mic-container {
    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.mic {
        @include for-mobile-layout {
            display: none;
        }
    }

    &.pencil {
        display: none;

        @include for-mobile-layout {
            display: flex;
        }

        .btn-edit-description {
            font-size: 0.9rem;
            font-family: 'roboto-medium';
        }
    }

    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: .5s;
        cursor: pointer;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);

        i {
            color: #b2b1b1;
            font-size: 17px;
            transition: .9s;
        }

        &:before {
            content: '';
            width: 35px;
            height: 35px;
            border-radius: 50%;
            opacity: .2;
            z-index: -1;
            position: absolute;
        }
    }

    .circle.active {
        background: #ff0000;

        &:before {
            background: gray;
            animation: bounce .8s ease-in-out infinite .5s;
        }

        i {
            color: #ffffff;
        }
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.4);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}