.reach-editor-container {
    outline: 2px solid blue;
    border-radius: 0.2em;
    background-color: $clr-bg2-light;

    input[data-formula],
    input[data-link],
    input[data-video] {
        display: none;
    }
}

.text-editor-buttons {
    display: flex;
    gap: 0.5em;
    margin-block-start: 1em;
}

.ql-toolbar {
    background-color: $clr-bg2-light;
}

.output-container {
    background-color: $clr-btn-1;
    padding: 0.5em;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.output-container-and-recording-btn {
    position: relative;

    .btn-recording {
        position: absolute;
        top: 0px;
        right: 5px;
        display: flex;
        align-items: center;

        padding: 0.2em;
        width: 1.8em;
        height: 1.8em;
        border-radius: 50%;

        cursor: pointer;

        & svg {
            width: 100%;
        }
    }
}

.mic-container {
    // position: absolute;
    top: -45px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: .5s;
        cursor: pointer;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);

        i {
            color: #b2b1b1;
            font-size: 18px;
            transition: .9s;
        }

        &:before {
            content: '';
            width: 35px;
            height: 35px;
            border-radius: 50%;
            opacity: .2;
            z-index: -1;
            position: absolute;
        }
    }

    .circle.active {
        background: #ff0000;

        &:before {
            background: gray;
            animation: bounce .8s ease-in-out infinite .5s;
        }

        i {
            color: #ffffff;
        }
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    ;

    25% {
        transform: scale(1.4);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

#bars {
    display: none;
    /*     background: black; */

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bar {
    background: #52467b;
    bottom: 1px;
    height: 3px;
    width: 5px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 20px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 15px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 29px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    left: 43px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 57px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    left: 71px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    left: 85px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    left: 99px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    left: 113px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    left: 127px;
    animation-duration: 442ms;
}