.group-list {
    display: flex;
    // gap: em(8px);
    overflow-x: auto;

    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.15) rgba(128, 128, 128, 0.15);

    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgba(128, 128, 128, 0.15);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);

        border-radius: 10px;
        border: 0px solid rgba(0, 0, 0, 0.15);
    }

    // height: calc(100vh - 3.5rem - 3.5rem - 4em);
    height: calc(100vh - 3.5rem - 50px);
    // height: 100%;

    li:first-child:not(.label, .member, .attachment-action-item, .react-datepicker__time-list-item, .output-container li, .reach-editor-container li) {
        margin-inline-start: 1em;
    }

    .container-first-add-group:first-child {
        margin-inline-start: 1em;
        width: 17em;


        .add-group-container {
            margin-inline-start: 0;


        }
    }

    .add-group-container {
        form {
            margin-top: 0.3em;
            margin-right: 0.5em;
            padding: 0.7em;
            border-radius: 0.8em;
            background-color: $clr-bg1-light;
        }
    }

    .container-first-add-group {
        padding: 0.7em;
    }

    div.group {
        height: max-content;
        max-height: calc(100vh - 3.5rem - 2.5rem);
    }

    li:not(.label, .member, .attachment-action-item, .react-datepicker__time-list-item, .output-container li, .reach-editor-container li) {

        width: rem(264px);

        &.collapse {
            width: 40px;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            &:hover {
                background-color: darken($color: $clr-bg1-light, $amount: 15);

                &.BAF3DB {
                    background-color: darken($color: #BAF3DB, $amount: 15);
                }

                &.DFD8FD {
                    background-color: darken($color: #DFD8FD, $amount: 15);
                }

                &.F8E6A0 {
                    background-color: darken($color: #F8E6A0, $amount: 15);
                }

                &.FEDEC8 {
                    background-color: darken($color: #FEDEC8, $amount: 15);
                }

                &.FFD5D2 {
                    background-color: darken($color: #FFD5D2, $amount: 15);
                }

                &.CCE0FF {
                    background-color: darken($color: #CCE0FF, $amount: 15);
                }

                &.C6EDFB {
                    background-color: darken($color: #C6EDFB, $amount: 15);
                }

                &.D3F1A7 {
                    background-color: darken($color: #D3F1A7, $amount: 15);
                }

                &.FDD0EC {
                    background-color: darken($color: #FDD0EC, $amount: 15);
                }
            }

            .group-preview {
                height: 100%;
                width: 40px;

                // padding: 0.5em 0;
            }

            .group-menu-button {
                margin: 0;
                &:hover {
                    background-color: inherit;
                }
            }

            .group-header {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

              
                padding: 0em;

            }

            .group-header-btn {
                // transform: rotate(90deg);
                display: flex;
                align-items: center;
                writing-mode:vertical-lr;
                width: 100%;
                height: max-content;
                padding: 0;
                text-align: center;
                place-self: center;

                margin-inline-start: 0em;
                padding: 0.5em;
            }
        }

        // &.group-list-li{
        // }

        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.19);

        background-color: $clr-bg1-light;
        border-radius: em(12px);
        // padding: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        // margin: 1em 0.5em 1em 0;
        margin: 1em 0;
        margin-left: 1em;
        height: max-content;
        max-height: calc(100vh - 3.5rem - 2.5rem);
    }

    input {
        border-radius: 0.5em;
        padding: em(6px) em(8px) em(8px) em(12px);
        margin-top: 0px;
        width: 17em;
        // margin-bottom: em(10px);

        border: #ccc solid 3px;

        font-family: 'roboto-bold';

        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

        &:focus {
            border: $clr-blue-border solid 3px;
        }
    }
}

.add-group-btn {
    &:first-child {
        margin-inline-start: 1em;
    }

    background-color: hwb(0 100% 0% / 0.24);
    height: em(44px);
    font-family: 'roboto-bold';
    font-size: em(16px);
    min-width: em(272px);
    padding: em(12px);
    padding: 1.7em 0em 1.7em 1em;
    transition: 200ms;

    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 8px;

    &:hover {
        background-color: hwb(0 100% 0% / 0.18);
    }
}

.add-group-btns {
    display: flex;
    align-items: center;
    margin: 0;

    .close-btn-x {
        border-radius: 0.2em;
        margin-inline-start: 0.2em;
        width: 1.7em;
        height: 1.7em;
        padding: 0;

        display: grid;
        justify-content: center;
        align-items: center;

        transition: 200ms;

        img {
            width: 1.2em;
            height: 1.2em;
        }
    }

    >*:first-child {
        background-color: #0c66e4;
        padding: 0em 0.8em;
        height: 2.5em;

        border-radius: 0.3em;
        font-family: 'roboto-bold';
        transition: 150ms;

        &:hover {
            background-color: darken($color: #0c66e4, $amount: 20);
        }
    }

    :nth-child(2) {
        background-color: inherit;
        color: rgb(99, 99, 99);
        font-size: 20px;

        &:hover {
            background-color: hsla(218, 76%, 15%, 0.144);
        }
    }
}