.group-preview {
    display: flex;
    flex-direction: column;

}

.group-header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: em(10px);


    button {
        background-color: inherit;
        color: inherit;
    }

    img {
        width: 1.5em;
    }

    .group-menu-button {
        transition: 150ms;
        border-radius: 0.4em;
        padding: 0.5em;
        margin-inline-end: 0.4em;
        height: 2.3em;

        &:hover {
            background-color: darken($color: $clr-bg1-light, $amount: 10);
        }
    }

    .group-header-btn {
        font-family: "Roboto-Bold";
        padding: em(6px) em(8px) em(8px) em(12px);
        width: 16em;

        text-align: start;
        font-size: em(16px);
    }

    input {
        border-radius: 0.5em;
        padding: em(6px) em(8px) em(8px) em(12px);
        margin: 5px;
        width: 15em;
        margin-bottom: em(10px);

        border: #ccc solid 3px;

        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;

        &:focus {
            border: $clr-blue-border solid 3px;
        }
    }
}