.labels-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 0 !important;

    .checkbox-label {
        display: flex;
        gap: 0.3em;

        .checkbox-and-label {
            display: flex;
            width: 100%;
            gap: 0.7em;
        }

        .task-label {
            width: 100%;
            height: 2.3em;
            border-radius: 0.2em;
            font-size: 0.9rem;
            padding: 0.2em 0 0 0.6em;
            cursor: pointer;
        }

        &:hover {
            opacity: 0.8;
        }

        .pencil-edit-label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.3em;
            padding: 0.55em;
            border-radius: 0.2em;
            cursor: pointer;

            &:hover {
                background-color: $clr-bg1-light;
            }
        }
    }
}