.members {
    display: grid;
    gap: 1em;


    & input[type="text"] {
        margin: 0;
    }
}

.board-member-list,
.task-member-list {
    & img {
        width: 2em;
        border-radius: 50%;
    }

    .member-list {
        display: grid;
        gap: 0.6em;

        & li.member {
            display: flex;
            align-items: center;
            gap: 0.7em;
            padding: 0.3em;
            margin: 0;

            border-radius: 0.2em;


            & .member-name {
                font-size: 0.9rem;
            }

            & i {
                margin-inline-start: auto;
                color: $gray6;
                padding: 0 0.5em 0 0;
            }
        }
    }
}