.modal-backdrop {
    &.blur {
        background-color: rgba(0, 0, 0, 0.209);
        backdrop-filter: blur(2px);
    }
    position: fixed;

    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.modal-content {
    border: 1px solid black;
    position: fixed;
    font-size: 1.1em;
    inset: 0;

    width: fit-content;
    max-width: 36em;

    border-radius: 0.6em;
    padding: 0 1em;
    height: max-content;
    color: var(--crl-font);
    background-color: $clr6;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    z-index: 3;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: var(--crl-font);
}
