.modal-task-details {
    max-height: 80vh;
    /* Adjust this value based on your design */
    overflow-y: auto;
}

.modal-task-details-content {
    position: fixed;
    font-size: 1.1em;
    inset: 0;

    justify-content: center;

    display: flex;
    align-items: start;

    padding-block: 60px;
    overflow-y: auto;

    color: var(--crl-font);
    z-index: 3;
}