* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    color: $clr2;

    height: 100%;
}

header {
    margin-left: 0;
}

article {
    margin-left: 0;
}

body {
    // max-width: 1024px;
    margin: 0;

    min-height: 100%;

    font-family: 'Segoe UI', 'roboto-regular';
    // font-size: rem(16px);
}

.main-container main {
    /* display: flex;
    flex-direction: column; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

h2 {
    .task-main & {
        font-size: 1.05rem;
        font-family: 'roboto-medium';
        margin: 0;
    }

    .option-modal-header & {
        font-size: 0.9rem;
    }

    .attachment-data & {
        color: $gray7;
        font-size: 0.9rem;
    }
}

h3 {
    .task-details & {
        font-size: 0.8rem;
    }

    .task-header & {
        padding-inline-start: 0.8em;
    }

    .task-options & {
        margin-block-end: 0.4em;
        font-family: 'roboto-medium';
        padding-inline-start: 0.1em;
    }

    .dates & {
        margin: 0;
    }

    .list-of-attachments & {
        margin-block-end: 0.1em;
        font-family: 'roboto-medium';
    }
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;

    .label-preview & {
        margin: 0;
        border-radius: 0.2em;
        height: 2em;
        line-height: 2;
    }

    .delete-task-modal-container & {
        font-size: 0.9rem;
    }

    .archive-banner & {
        margin: 0;
    }

    .attachment-details & {
        font-size: 0.8rem;
        color: $gray6;
        margin: 0;
    }

    .task-attachments & {
        font-size: 0.9rem;
        margin-block-end: 1.3em;
        margin-block-start: 0.5em;
        padding-inline-start: 0.5em;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    max-width: 100%;
}

button {
    .modal-member-preview & {
        align-self: center;
        text-align: left;
        color: $gray5;
        background-color: transparent;
    }
}

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.3em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: inherit;
    cursor: pointer;

    &-dark {
        @include btn($type: dark);
    }

    &-light {
        @include btn($type: light);
    }

    &-clear {
        @include btn($type: 'clear');
    }

    &-delete {
        @include btn($type: 'delete');
    }

    &-action {
        @include btn($type: 'action');
    }
}

span.overdue {
    background-color: $clr-overdue-2;
    color: $clr8;
}

span.complete {
    background-color: $clr-complete;
    color: $clr6;
}

span.duesoon {
    background-color: $clr-duesoon;
}

hr {
    background-color: var(--ds-border, #091e4224);
    border: 0;
    height: 1px;
    margin: 16px 0;
    padding: 0;
    width: 100%;

    .modal-member-preview & {
        padding: 0;
        width: 90%;
        margin: 0;
        justify-self: center;
        align-self: flex-end;
    }

    .task-options & {
        margin: 0;
    }
}

.input {
    box-shadow: inset 0 0 0 1px #091e4224;
    @include input();
}

.header {
    padding: 0.25em 0;
    margin-block-end: 0.25em;
    width: 100%;
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    height: 40px;

    h3 {
        font-size: 14px;
        grid-column: 2;
        margin: 0;
        text-align: center;
        vertical-align: center;
        color: $modalHeaderClr;
        font-weight: 600;
        letter-spacing: -0.003em;
        line-height: 40px;

        span {
            display: block;
            transform: translateY(-4px);
        }

        span::first-letter {
            text-transform: capitalize;
        }

        // margin: 0 32px;
    }
}