.board-menu .archive-list {
    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-block-end: 10px;
    }
    .btns {
        padding-inline-start: 1em;
        display: flex;
        gap: 1.5px;

        button {
            transition: 0.1s;
            font-size: rem(14px);
            font-weight: 600;
            color: #44546f;
            &::first-letter {
                text-transform: capitalize;
            }
            &:hover {
                color: #0c66e4;
                text-decoration: underline;
            }
        }
    }
    .task-preview {
        width: 98%;
        cursor: auto;
        .task-color {
            width: 109.3%;
            transform: translateX(-2px);
        }
        &:hover {
            border: 2px solid $clr-bg1-light;
            .task-color {
                border: none;
            }
        }
    }
}
