.board-menu {
    @include for-mobile-layout {
        overflow-y: hidden;

        .close-btn {}

    }
    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.15) rgba(128, 128, 128, 0.15);
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgba(128, 128, 128, 0.15);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);

        border-radius: 10px;
        border: 0px solid rgba(0, 0, 0, 0.15);
    }

    width: 340px;
    position: absolute;
    transition: 0.3s;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;

    .menu-header {
        position: sticky;
        padding: 0 12px;
        margin: 0;
        height: rem(52px);

        h3 {
            color: $contentClr;
            padding-block-start: 9px;
            font-size: rem(16px);
        }

        .close-btn {
            color: $contentClr;
            transform: translate(0, 8px);
        }

        .return-btn {
            transition: 0.2s;
            transform: translate(-40px, 8px);

            &.active {
                transform: translate(0, 8px);
            }
        }
    }

    .menu-body {
        overflow-y: scroll;
        /* Forces a vertical scrollbar */
        flex-grow: 1;
        padding: rem(15px) rem(12px) rem(8px) rem(9.5px);

        li {
            margin-block-end: rem(4px);
        }

        li button.menu-btn {
            width: 100%;
            display: flex;
            justify-content: start;
            gap: 10px;

            // height: 52px;
            padding: rem(6px) rem(12px);

            &:hover {
                background-color: rgb(9, 30, 66, 0.06);
            }

            &.info {
                height: 52px;
            }
        }

        ul div {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            color: $contentClr;

            &::first-letter {
                text-transform: capitalize;
            }

            font-size: 14px;

            div {
                font-size: rem(12px);
            }

            &.background {
                width: 20px;
                height: 20px;
                background-position: 50%;
                background-size: cover;
                border-radius: rem(3px);
            }

            text-align: left;
        }

        .left {
            transform: translateX(-100%);
        }

        .right {
            transform: translateX(100%);
        }

        div.wrapper.no-transition {
            transition: none;
        }

        .wrapper {
            transition: 0.2s;
        }
    }

    &.shrink {
        transform: translateX(340px);
    }

    hr {
        width: 304px;

        &.thin {
            width: 100%;
            margin: 0;
            margin-inline-start: rem(12px);
        }

        &.semi-thin {
            margin: 8px 0 8px 0;
        }
    }
}

.placeholder-div {
    transition: 0.3s;
}

.board-menu-wrapper {
    overflow-y: hidden;
    // max-width: 100vh;
    position: relative;
    background-color: white;
    z-index: 3;

    @include for-mobile-layout {
        // overflow-y: hidden;
        position: absolute;
        // top: ;
        right: 0;
        height: 92.4%;
        width: 91%;
        .close-btn {}

    }
}