.board-menu {
    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.15) rgba(128, 128, 128, 0.15);
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgba(128, 128, 128, 0.15);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);

        border-radius: 10px;
        border: 0px solid rgba(0, 0, 0, 0.15);
    }

    width: 340px;
    position: absolute;
    transition: 0.4s;
    background-color: white;
    box-shadow: 0 8px 12px #091e4226, 0 0 1px #091e424f;
    .menu-header {
        position: sticky;
        padding: 0 12px;
        margin: 0;
        height: rem(52px);
        h3 {
            color: $contentClr;
            padding-block-start: 9px;
            font-size: rem(16px);
        }
        .close-btn {
            color: $contentClr;
            transform: translate(0, 8px);
        }
    }
    .menu-body {
        overflow-y: scroll; /* Forces a vertical scrollbar */
        max-height: 70vh;

        width: 100%;
        padding: rem(15px) rem(12px) rem(8px) rem(9.5px);
        li {
            margin-block-end: rem(4px);
        }
        li button.menu-btn {
            width: 100%;
            display: flex;
            justify-content: start;
            gap: 10px;

            // height: 52px;
            padding: rem(6px) rem(12px);

            &:hover {
                background-color: rgb(9, 30, 66, 0.06);
            }
            &.info {
                height: 52px;
            }
        }
        ul div {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            color: $contentClr;
            &::first-letter {
                text-transform: capitalize;
            }
            font-size: 14px;
            div {
                font-size: rem(12px);
            }
            &.background {
                width: 20px;
                height: 20px;
                background-position: 50%;
                background-size: cover;
                border-radius: rem(3px);
            }
            text-align: left;
        }
    }
    &.shrink {
        transform: translateX(340px);
    }
    hr {
        width: 304px;
        &.thin {
            width: 100%;
            margin: 0;
            margin-inline-start: rem(12px);
        }
        &.semi-thin {
            margin: 8px 0 8px 0;
        }
    }
}
.placeholder-div {
    transition: 0.4s;
}
.board-menu-wrapper {
    position: relative;
    background-color: white;
}
