// Colors
$clr-bg1-light: #f1f2f4;
$clr-bg2-light: #ffffff;
$clr-bg3-light: #f5f4f4;

$clr-btn-1: #e7e9eb;
$clr-btn-2: #0c66e4;
$clr-btn-3: #2c3e5d;

$clr-overdue: #c9372c;
$clr-overdue-2: #FFECEB;
$clr-complete: #1f845a;
$clr-duesoon: #f5cd47;

$clr-blue-border: #388bff;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #BB5048;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
$gray5: #444;
$gray6: #666;

//board-backgroundColor-pallet
$bbgClr1: rgb(0, 121, 191);
$bbgClr2: rgb(210, 144, 52);
$bbgClr3: rgb(81, 152, 57);
$bbgClr4: rgb(176, 70, 50);
$bbgClr5: rgb(137, 96, 158);
$bbgClr6: rgb(205, 90, 145);
$bbgClr7: rgb(75, 191, 107);
$bbgClr8: rgb(0, 174, 204);
$bbgClr9: rgb(131, 140, 145);

$btnClr1: #0c66e4;
$btnClrDisabled: #f7f8f9;
$btnClrDisabletxt: #adb4df;

$modalHeaderClr: #44546f;
$modalcontentClr: #172b4d;
$modalCloseBtn: #dcdfe4;

//header
$headerClr: #455570;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;