// Colors
$clr-bg1-light: #F1F2F4;
$clr-bg2-light: #FFFFFF;
$clr-bg3-light: #f5f4f4;

$clr-btn-1: #E7E9EB;
$clr-btn-2: #0C66E4;
$clr-btn-3: #2C3E5D;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
$gray5: #444;

//board-backgroundColor-pallet
$bbgClr1: rgb(0, 121, 191);
$bbgClr2: rgb(210, 144, 52);
$bbgClr3: rgb(81, 152, 57);
$bbgClr4: rgb(176, 70, 50);
$bbgClr5: rgb(137, 96, 158);
$bbgClr6: rgb(205, 90, 145);
$bbgClr7: rgb(75, 191, 107);
$bbgClr8: rgb(0, 174, 204);
$bbgClr9: rgb(131, 140, 145);
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;